# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform Variables
*.tfvars
*.tfvars.json

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Terraform Lock File
# Keep this one
#! .terraform.lock.hcl