# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
plan.out

# macOS
.DS_Store

# IDE folders
.vscode/
.idea/

# Logs
*.log